.cardBody{
  margin-top:10px;
  background-color: aqua;
  border: 1px solid black;
  border-radius: 10px;
   
}


.cardStyle{
  margin-top: 20px;
  width: 200px;

}

@media (max-width: 1024px) {
  .Header{
    width: 100%;

  }

}

